.main-nav {
  background: #ce0000;
}
.main-nav > ul {
  margin: 0 auto;
  margin-left: 3%;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .main-nav > ul {
    margin: 0;
  }
}
@media only screen and (max-width: 400px) {
  .main-nav > ul {
    opacity: 0;
  }
}
.main-nav > ul li {
  display: inline-block;
}
.main-nav > ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .main-nav > ul li a {
    font-size: 0.7em;
  }
}
.main-nav > ul li a:hover {
  text-decoration: underline;
}
.main-nav > .user {
  width: 30px;
  height: 30px;
  float: right;
  position: relative;
  top: -40px;
  right: 25px;
  background-color: transparent;
  outline: none;
  border: none;
}
.main-nav > .user img {
  width: 30px;
  height: 30px;
  border-radius: 999px;
}
.main-nav > .alerts {
  border-radius: 999px;
  float: right;
  width: 30px;
  height: 30px;
  background-color: #fff;
  outline: none;
  border: none;
  position: relative;
  top: -40px;
  right: 30px;
}
.main-nav > .alerts > img {
  width: 0.9em;
  height: 0.9em;
}